
<h3 mat-dialog-title>Add Lead Form</h3>
<div mat-dialog-content>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Purpose</mat-label>
      <input formControlName="employeeName" matInput type="text" placeholder="Enter Purpose">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Purpose</mat-label>
      <input formControlName="employeeName" matInput type="text" placeholder="Enter Purpose">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Purpose</mat-label>
      <input formControlName="dfdjh" matInput type="text" placeholder="Enter Purpose">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Add Requirements</button>
  </form>
</div>